
<div class="col-md-3">
    <div class="row"><a href="#!/" class="btn btn-default">Back</a></div>
    <h3>The World - {{vm.name}}</h3>
    <waiting displaywhen="vm.isLoading"></waiting>
    <div ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <table class="table table-responsive table-striped">
        <tr>
            <th>Name</th>
            <th>Arrival</th>
        </tr>
        <tr ng-repeat="stop in vm.stops">
            <td>{{stop.name}}</td>
            <td>{{stop.arrival | date: 'MM-dd-yyyy' }}</td>
        </tr>
    </table>
    <form>
        <div class="form-group">
            <label>Date</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Location</label>
            <input class="form-control" />
        </div>
        <div><input type="submit" value="Add" class="btn btn-success" /></div>
    </form>
</div>

<div class="col-md-9">
    <h2>The Map</h2>
    <div id="map"></div>

</div>